/* removes default browser-enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* more on this crazy alphanumerical value in a minute */
    color: #39a6b2;
    font-family: Arial, Helvetica, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* defines <h1> styling */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* defines <a> color */
header a {
    text-decoration: none;
    color: #fce138;
}

/* defines navigation placement (right) */
header nav {
    float: right;
    margin: 7px 0;
}

/* defines navigation list (inline) */
header nav ul li {
    display: inline;
}

/* defines navigation list */
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* styling footer with background, width, padding */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

/* applies style to left of <h2> element */
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* applies style to right of <div> container */
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

/* applies style to <a> element */
footer a {
    color: #024e76;
}